<style>
   @media(max-width:480px){
   .quantity{width:32%;float:left;}
   .button-box{width:32%;float:left;}
   }
   .quantity{width:32%;float:left;}
   .button-box{width:32% !important;float:left;}
  
  
  .widthbtn {
    width: 45% !important;
    font-size: 12px !important;
    height: 40px !important;
    letter-spacing: 1px !important;
  }

  .widthform{
    width: 100%;
  }


  span {cursor:pointer; }
  .number{
    margin: auto;
  }
  .minus, .plus{
    width:30px;
    height:30px;
    background:#f2f2f2;
    border-radius:4px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  #quantity {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  
  
  
  
</style>
<div class="">
<section id="product-form-wrapper">
   <form id="product-form" action="/cart/add" method="post" data-cart-submit>
      <!-- Price -->
      
      <!-- Variant select. -->
      <!--     <label class="product-name" for="product-select">Choose your</label> -->
      <br>
     
     
     {% if product.has_only_default_variant %}
     
     	<div class="fortheonlybest">
          <select class="for-color" id="product-select" name="id" style="display:;" >
          {% for variant in product.variants %}
          <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
          </select>
          <!-- Variant swatches. -->
          
          <!-- Custom properties. -->
          {% if product.metafields.properties.engraving %}
          <label for="properties[Engraving]">Engraved message (optional)</label>
          <input type="text" id="properties[Engraving]" name="properties[Engraving]" />
          {% endif %}


           <div class="pricing">
              <p>&#8377; <span id="product-price" > {{ product.price_min | money }} to {{ product.price_max | money }} </span>/-</p>
           </div>
     	</div>
     
     {% endif %}
     
     
     
     
      {% if product.has_only_default_variant %}
     
     	
     
    {% else %}
     
     <div class="fortheonlybest">
          <select class="for-color" id="product-select" name="id" style="display:none;" >
          {% for variant in product.variants %}
          <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
          </select>
          <!-- Variant swatches. -->
          {% for option in product.options %}
          {% include 'swatch' with option %}
          {% endfor %}
          <!-- Custom properties. -->
          {% if product.metafields.properties.engraving %}
          <label for="properties[Engraving]">Engraved message (optional)</label>
          <input type="text" id="properties[Engraving]" name="properties[Engraving]" />
          {% endif %}


           <div class="pricing">
              <p>&#8377; <span id="product-price" > {{ product.price_min | money }} to {{ product.price_max | money }} </span>/-</p>
           </div>
     	</div>
     
     {% endif %}
     
     
     

     
       <div class="theaddtocart">
          <p class="add-to-cart" >
            <input type="submit" id="add-to-cart" class="btn themainbutton" name="add" value="Add to Cart" />
          </p>
       </div>
     
     
     
   </form>
  
  
   
  
  
  
</section>
  
  
  <script type="text/javascript">
    $('.add-btn').on('click', function(e) {
        var form = $('#addToCart');
        e.preventDefault()

        $.ajax({
            type: 'POST',                             
            url: '/cart/add.js',
            dataType: 'json',                               
            data: form.serialize(),
            success: function(data) {
                form.find('input[name="checkout"]').trigger('click');
            }
        });
    })
</script>
  
  
  
  
  <script>
  $(document).ready(function(){
    $('.addto-cart').click(function() {
      var productViewName = "{{product.title }}"
      var proViewPrice = $('.pricing pc-forpc ').find('span').text();
      var getpropriceNN = proViewPrice.replace(",", "");
      var getpropriceNeWW = {{product.price | money_without_currency  | remove: '.' | remove: ',' | divided_by: 100  }};
      var ProViewcollName = "{{product.collections[0].title }}"
      //      var ProViewCollID = $(this).attr('coll_viewid');
      var prodViewid = {{ product.variants.first.id }};
      var ProViewUrl = "{{ product | img_url  : '1920x'}}";
      var res = ProViewUrl.split("?");
      var image_url = 'https:'+ProViewUrl;


      console.log(productViewName);
      console.log(productViewName);
      console.log(ProViewcollName);
      console.log(getpropriceNeWW);
      console.log(image_url);

      webengage.track("Added To Cart", {

        "Product Name" :productViewName,
        "Product ID" : prodViewid,
        "Product Price" : getpropriceNeWW, 
        "Image URL": image_url, 
        "Collection Name": ProViewcollName
      });
    });

    //Cart Updated

    //        $('.addto-cart').click(function() {
    //            var obj = [];


    //        {% for line_item in cart.items %}

    //                         obj.push({ "Product Id":{{line_item.id}},"Product Name":"{{line_item.title}}","Line Item Price": {{line_item.price | money_without_currency  | remove: '.' | remove: ',' | divided_by: 100 }}, "Price": {{line_item.price | money_without_currency  | remove: '.' | remove: ',' | divided_by: 100 }}, "Image URL" :"{{line_item.image | product_img_url : '1920x'}}","Qunatity": {{line_item.quantity}}});
  //     {% endfor %}



  //     webengage.track("Cart Updated", {
  //       "Total Price" : {{cart.total_price | money_without_currency  | remove: '.' | remove: ',' | divided_by: 100}},
    //       "Product Details": [
    //         obj
    //       ],
    //     });

    //    });
    //Cart Update End

  });
</script>