<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/logo.svg?v=1631734338" type="image/x-icon" />
  <link rel="stylesheet" href="{{ 'style.css' | asset_url }}" />
  <title>ACTIVE BEAUTE | Home Page</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  
  {{ content_for_header }}
</head>

<body>
  <span class="screen-darken"></span>
  
  {% section 'topbar' %}
  {% section 'navbar' %}
  
  {{ content_for_layout }}

  <!-- footer start  -->
  <footer class="padding-top-bottom">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-md-3 col-4 middle-list">
          <ul>
            <li>
              <h6>CUSTOMER SERVICES</h6>
            </li>
            <li><a href="#!">FAQ’s</a></li>
            <li><a href="#!">Delivery & Returns</a></li>
            <li><a href="#!">Terms & Conditions</a></li>
            <li><a href="#!">Privacy Policy</a></li>
            <li><a href="#!">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-4 middle-list">
          <ul>
            <li>
              <h6>ACCOUNT</h6>
            </li>
            <li><a href="#!">My Profile</a></li>
            <li><a href="#!">My Orders</a></li>
            <li><a href="#!">Track Orders</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-4 middle-list">
          <ul>
            <li>
              <h6>Quick Links</h6>
            </li>
            <li><a href="#!">Our Story</a></li>
            <li><a href="#!">Our Team</a></li>
            <li><a href="#!">Press</a></li>
          </ul>
        </div>
        <div class="col-md-3 newsletter-input">
          <h6>Sign up for our newsletter!</h6>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your email goes here" aria-label="Recipient's username"
              aria-describedby="button-addon2" required />
            <button type="send" class="btn btn-outline-secondary" type="button" id="button-addon2"><img
                src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/send.svg?v=1631734338" alt="..." /></button>
          </div>
        </div>
      </div>
      <div class="footer-text">
        <p>© Copyright 2021 Active Beaute. All rights reserved.</p>
      </div>
    </div>
  </footer>
  <!-- footer end  -->





  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{{ 'main.js' | asset_url }}"></script>
</body>

</html>