<section class="featured-product padding-top-bottom">
		<div class="container">
			<div class="top-head">
				<h2 style="margin-bottom:0px;">{{section.settings.good-sectiontitle}}</h2>
				<p>{{section.settings.good-para-sectiontitle}}</p>
              <hr style="margin:0px;background:#fff;border-bottom:1px solid #000;">
				<h2 class="secondchild">{{section.settings.hcsectiontitle}}</h2>
			</div>
			<div id="product-list" class="owl-carousel">
              
              
              {%- assign collection = collections[section.settings.selectcollection] -%}
              {% for product in collection.products %}
				<div class="product-item">
					<a class="product-image" href="{{ product.url }}"><img src="{{ product | img_url: '900x900' }}" width="70%" /></a>
					<a href="{{ product.url }}"><h6>{{ product.title }}</h6></a>
					<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

					<h5> {{product.price | money_with_currency}} <span> {{product.compare_at_price | money_with_currency}}</span></h5>
					{% include 'loopatc' %}
				</div>
              
              {% endfor %}
				
				
				
			</div>
		</div>
	</section>


{% schema %}
         {
            "name": "Homepage Featur Products",
            "settings": [
               {
                  "id": "good-sectiontitle",
                  "type": "text",
                  "label": "Goodness Title"
               },
{
                  "id": "good-para-sectiontitle",
                  "type": "text",
                  "label": "Goodness Paragraph"
               },
{
                  "id": "hcsectiontitle",
                  "type": "text",
                  "label": "collection Title"
               },
               {
                  "id": "selectcollection",
                  "type": "collection",
                  "label": "Select Collection"
               }
            ]
         }
      {% endschema %}