<article class="card mobile-offcanvas bg-light" id="card_mobile">
		<div class="card-body">
			<div class="offcanvas-header"><button class="btn-close float-end"></button></div>
			<ul>
				
              {%- for link in linklists.main-menu.links -%}
                <li class="dropdown">
					<a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">shop</a>
					
                  {%- if link.links != blank -%}
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {%- for child_link in link.links -%}
						
                    	<li><a class="menu-heading" href="{{ child_link.url }}">{{ child_link.title }}</a>
                          {%- if child_link.links != blank -%}
							<ul class="submenu-mobile">
                              {%- for grandchild_link in child_link.links -%}
								<li><a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                              {%- endfor -%}
							</ul>
                          {%- endif -%}
						</li>
					{%- endfor -%}	
						
					</ul>
                  {%- endif -%}
				</li>
              {%- endfor -%}
              
              
              {%- for link in linklists.inner-menu.links -%}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {%- endfor -%}
              
              
              	<li class="dropdown">
					<a class="dropdown-toggle" href="https://active-beaute.myshopify.com/pages/our-story" id="navbarDropdown" data-bs-toggle="dropdown" role="button" aria-expanded="false">
						About Us
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {%- for link in linklists.about.links -%}
						<li><a class="dropdown-item a-text" href="{{ link.url }}">{{ link.title }}</a></li>
                      {%- endfor -%}
					</ul>
				</li>
			</ul>
			<hr>
            <div class="social-media">
                <p>Follow us</p>
                <a href="#!"><img src="./image/instagram.png" alt=""></a>
                <a href="#!"><img src="./image/facebook (1).png" alt=""></a>
                <a href="#!"><img src="./image/linkedin.png" alt=""></a>
            </div>
		</div>
	</article>


	<nav class="container">
		<div class="row align-items-center">
			<div class="col-md-2 col-8 logo-menu">
				<a data-trigger="card_mobile" class="menu-icon" href="/"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/menu-icon.svg?v=1631638289" /></a>
				<a class="logo" href="/"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/logo.svg?v=1631638202" /></a>
			</div>
			<div class="col-md-8">
				<ul>
                  {%- for link in linklists.main-menu.links -%}
					<li class="dropdown megamenu">
						<a class="dropdown-toggle" href="{{ link.url }}" id="navbarDropdown" aria-expanded="false">{{ link.title }}</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<div class="container">
                              {%- if link.links != blank -%}
								<div class="row justify-content-between">
                                  
                                  {%- for child_link in link.links -%}
									<div class="col-2">
										<ul>
											<li class="menu-heading"><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                                          
                                           {%- if child_link.links != blank -%}
                                          <ul>
                                            {%- for grandchild_link in child_link.links -%}
											<li><a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a></li>
                                            {%- endfor -%}
										</ul>
                                          {%- endif -%}
                                          
										</ul>
									</div>
                                  {%- endfor -%}
									
									<div class="col-4">
										<div class="product-data">
                                          <a href="{{section.settings.menuproduct}}"><img src="{{section.settings.menuproductimg | img_url:'500x500'}}" width="100%"></a>
										</div>
									</div>
								</div>
                               {%- endif -%}
							</div>
						</div>
					</li>
                  {%- endfor -%}
                  
                  {%- for link in linklists.inner-menu.links -%}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {%- endfor -%}
                  
                    <li class="dropdown megamenu-short">
						<a class="dropdown-toggle" href="#!" id="navbarDropdown" role="button" aria-expanded="false">
							About Us
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {%- for link in linklists.about.links -%}
							<li><a class="a-text" href="{{ link.url }}">{{ link.title }}</a></li>
                           {%- endfor -%}
						</ul>
					</li>
                  
				</ul>
			</div>
			<div class="col-md-2  col-4 last-icons">
				<ul>
					<li><a href="#!"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/Group_1.svg?v=1631638340" /></a></li>
					<li><a class="header-cart thecart-icon go-cart__trigger js-go-cart-trigger" href="/cart"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/Group_2.svg?v=1631650048" /><span id="CartCount" class="site-header__cart-count" style="display: block;
                      " id="nav-bar-cart">{{ cart.item_count }}</span></a></li>
					<li><a href="https://active-beaute.myshopify.com/account/"><img src="https://cdn.shopify.com/s/files/1/0597/8216/8740/files/Group_3.svg?v=1631650015" /></a></li>
				</ul>
			</div>
		</div>
	</nav>


{% schema %}
{
  "name": "MenuProduct",
  "tag": "section",
  "class": "menuproduct",
  "settings": [
    {
      "type": "url",
      "id": "menuproduct",
      "label": "Add Link"
    },
	{
      "type": "image_picker",
      "id": "menuproductimg",
      "label": "Add Image"
    }
  ]
}
{% endschema %}

