<!-- mobile view nav bar starts  -->
<article class="card mobile-offcanvas bg-light" id="card_mobile">
    <div class="card-body">
        <div class="offcanvas-header"><button class="btn-close float-end"></button></div>
        <ul>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">shop</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="menu-heading" href="#!">SHOP NOW</a>
                        <ul class="submenu-mobile">
                          	{% for link in linklists.main-menu.links %}
                          		<li><a href="{{ link.url }}">{{ link.title }}</a></li>
							{% endfor %}
                        </ul>
                    </li>
                    <li><a class="menu-heading" href="#">SHOP BY SKIN TYPE</a>
                        <ul class="submenu-mobile">
                            <li><a href="#">Sensitive </a></li>
                            <li><a href="#">Oily</a></li>
                            <li><a href="#">Normal </a></li>
                            <li><a href="#">Dry</a></li>
                            <li><a href="#">All Skin Types</a></li>
                        </ul>
                    </li>
                    <li><a class="menu-heading" href="#">SHOP BY PRODUCT</a>
                        <ul class="submenu-mobile">
                            <li><a href="#">Face Wash</a></li>
                            <li><a href="#">Scrubs</a></li>
                            <li><a href="#">Moisturisers</a></li>
                            <li><a href="#">Serum</a></li>
                            <li><a href="#">Mist</a></li>
                            <li><a href="#">Value Sets</a></li>
                            <li><a href="#">All Products</a></li>
                        </ul>
                    </li>
                    <li><a class="menu-heading" href="#">SHOP BY CONCERN</a>
                        <ul class="submenu-mobile">
                            <li><a href="#">Anti-Pollution</a></li>
                            <li><a href="#">Advance Hydration</a></li>
                            <li><a href="#">Anti-Pollution</a></li>
                            <li><a href="#">Acne Control</a></li>
                            <li><a href="#">Brightening</a></li>
                            <li><a href="#">All-in-One</a></li>
                            <li><a href="#">All Concerns</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="single.html">Offers/sale</a></li>
            <li><a href="collection.html">blogs</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    About Us
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {%- for link in linklists.about.links -%}
                  <li><a class="dropdown-item a-text" href="{{ link.url }}">{{ link.title }}</a></li>
                  {%- endfor -%}
                </ul>
            </li>
        </ul>
        <hr>
        <div class="social-media">
            <p>Follow us</p>
            <a href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/instagram.png?v=1631734338" alt=""></a>
            <a href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/facebook_1.png?v=1631734338" alt=""></a>
            <a href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/facebook_1.png?v=1631734338" alt=""></a>
        </div>
    </div>
</article>
<!-- mobile view nav bar ends  -->


<nav class="container">
    <div class="row align-items-center">
        <div class="col-md-2 col-8 logo-menu">
            <a data-trigger="card_mobile" class="menu-icon" href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/menu-icon.svg?v=1631734338" /></a>
            <a class="logo" href="/"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/logo.svg?v=1631734338" /></a>
        </div>
        <div class="col-md-8">
            <ul>
                <li class="dropdown megamenu">
                    <a class="dropdown-toggle" href="#!"
                        id="navbarDropdown" aria-expanded="false">shop</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <ul>
                                        <li class="menu-heading"><a href="#!">SHOP NOW</a></li>
                                        {% for link in linklists.main-menu.links %}
                          					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
										{% endfor %}
                                    </ul>
                                </div>
                                <div class="col-2">
                                    <ul>
                                        <li class="menu-heading"><a href="#!">SHOP BY TYPE/ SKIN</a></li>
                                        <li><a href="#!">Sensitive </a></li>
                                        <li><a href="#!">Oily</a></li>
                                        <li><a href="#!">Normal</a></li>
                                        <li><a href="#!">Dry</a></li>
                                        <li><a href="#!">All Skin Types</a></li>
                                    </ul>
                                </div>
                                <div class="col-2">
                                    <ul>
                                        <li class="menu-heading"><a href="#!">SHOP BY PRODUCT</a></li>
                                        <li><a href="#!">Face Wash</a></li>
                                        <li><a href="#!">Scrubs</a></li>
                                        <li><a href="#!">Moisturisers</a></li>
                                        <li><a href="#!">Serum</a></li>
                                        <li><a href="#!">Mist</a></li>
                                        <li><a href="#!">Value Sets</a></li>
                                        <li><a href="#!">All Products</a></li>
                                    </ul>
                                </div>
                                <div class="col-2">
                                    <ul>
                                        <li class="menu-heading"><a href="#!">SHOP BY CONCERN</a></li>
                                        <li><a href="#!">Brightening</a></li>
                                        <li><a href="#!">Advance Hydration</a></li>
                                        <li><a href="#!">Acne Control</a></li>
                                        <li><a href="#!">All-in-One</a></li>
                                        <li><a href="#!">All Concerns</a></li>
                                    </ul>
                                </div>
                                <div class="col-4">
                                    <div class="product-data">
                                        <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/rectangle-menu.png?v=1631734338" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="single.html">Offers/sale</a></li>
                <li><a href="collection.html">blogs</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        About Us
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                       {% for link in linklists.about.links %}
						<li><a href="{{ link.url }}">{{ link.title }}</a></li>
                      {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-2  col-4 last-icons">
            <ul>
                <li><a href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Group_1.svg?v=1631734337" /></a></li>
                <li><a href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Group_2.svg?v=1631734338" /></a></li>
                <li><a href="#!"><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/Group_3.svg?v=1631734338" /></a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Wide screen Navbar section end  -->

{% schema %}
{
    "name": "Nav Bar"
}
{% endschema %}