<section class="product-info padding-top-bottom">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6 col-12 image-theme">
               <div id="single-product" class="owl-carousel">
                  
				{% for image in product.images %}	
                   <div class="item">
                       <img src="{{ image.src | product_img_url: '1000x' }}" alt="">
                    </div>
                 {% endfor %}
                  
               </div>
               <ul id='carousel-custom-dots' class='owl-dots'> 
                 {% for image in product.images %}	
                  <li class='owl-dot'><img src="{{ image.src | product_img_url: '1000x' }}" alt=""></li> 
                 {% endfor %}
                </ul>
            </div>
            
            
            <div class="col-md-6 col-12">
               <h2 class="text-uppercase">{{product.title}}</h2>
               <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

               <div class="d-flex align-items-start flex-column">
                  <div class="productpoints">
                    {% if product.metafields.custom_fields["short_description"] != blank %}
                     <p>{{ product.metafields.custom_fields["short_description"] }}</p>
                    {% endif %}
                    
                    {% if product.metafields.custom_fields["all_concerns"] != blank %}
                     <p class="disp">concern: {{ product.metafields.custom_fields["all_concerns"] }}</p>
                    {% endif %}
                    
                    
                  </div>
                 
                 {% if product.metafields.custom_fields["product_infor_icons"] != blank %}
                  <div class="tag-product">
                    {% for item in product.metafields.custom_fields["product_infor_icons"] %}
                     <div class="tag-mark">
                        <img src="{{ item["icons_image"] }}" alt="..." />
                        <p>{{ item["icon_text"] }}</p>
                     </div>
                    {% endfor %}
                  </div>
                 {% endif %}
               </div>
              {% include 'addtocartbutton' %}
            </div>
         </div>
      </div>
   </section>