
<!-- menu section Page      -->
<section class="product-info padding-top-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 image-theme">
                <div id="single-product" class="owl-carousel">
                    {% for image in product.images %}
                        <img src="{{image.src | img_url: '1024x' }}" alt="{{image.alt}}" />
                    {% endfor %}
                </div>
                <ul id='carousel-custom-dots' class='owl-dots'>
                    {% for image in product.images %}
                        
                        <li class='owl-dot'>
                            <img src="{{image.src | img_url: '1024x' }}" alt="{{image.alt}}" />
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-6 col-12">
                <h2 class="text-uppercase">{{ product.title }}</h2>
                <ul class="reviewstars">
                    <li><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star.svg?v=1631734338" /></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star.svg?v=1631734338" /></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star.svg?v=1631734338" /></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star.svg?v=1631734338" /></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/star.svg?v=1631734338" /></li>
                    <li>(10 Reviews)</li>
                </ul>

                <div class="d-flex align-items-start flex-column">

                    <div class="productpoints">
                        <p>{{ product.description }}</p>
                        <p class="disp">concern: Dryness, Pollution, Dullness</p>
                    </div>
                    <div class="tag-product">
                        <div class="tag-mark">
                            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-02.svg?v=1631734337" alt="..." />
                            <p>GMO Free</p>
                        </div>
                        <div class="tag-mark">
                            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-03.svg?v=1631734337" alt="..." />
                            <p>Veg & Cruelty
                                Free</p>
                        </div>
                        <div class="tag-mark">
                            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-04.svg?v=1631734337" alt="..." />
                            <p>No Colors Added</p>
                        </div>
                        <div class="tag-mark">
                            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-05.svg?v=1631734337" alt="..." />
                            <p>Dermatologically Tested</p>
                        </div>
                        <div class="tag-mark">
                            <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/CER-01.svg?v=1631734337" alt="..." />
                            <p>ECOCERT Certified</p>
                        </div>
                    </div>
                    <div class="meserment">
                        <p class="size">size: </p>
                        {% for variant in product.variants %}
                        {% if variant.available %}
                        <button type="button" class="btn btn-outline-secondary">{{ variant.title }}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="pricing">
                        <p>{{product.compare_at_price_min | money }} <span>{{product.compare_at_price_max | money }} </span></p>
                    </div>
                </div>
                <div class="addtocart-buynow">
                    <div class="quantity">
                        <div class="qty-input">
                            <button class="qty-count qty-count--minus" data-action="minus" type="button">-</button>
                            <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
                            <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                        </div>
                    </div>
                    <div class="button-box">
                        <a type="submit" name="add" href="#!">ADD TO CART</a>
                    </div>
                    <div class="btn button-img">
                        <img src="https://cdn.shopify.com/s/files/1/0602/5612/5135/files/love.svg?v=1631734337" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- menu section End     -->

<div class="desc padding-top-bottom">
    <div class="container">
       <h2>DESCRIPTION</h2>
       <p>Say goodbye to dry, dull skin caused by pollution, dust and environmental toxins. Activ Beauté Pure Radiance Anti-Pollution Toning Face Mist is an instant pick-me-up which freshens, moisturizes and safeguards your face from pollutants with just a few sprays of its revitalizing formula. It’s powered by two active ingredients SkinDefence and AquaSurge, that battle pollutants and dehydration on your skin’s behalf. This mist maintains the delicate pH balance of your skin, redefines its texture and repairs it, all at the same time. The hyaluronic acid locks in moisture to prevent and fade away wrinkles and lines, and zap away dullness. Gentle green tea extracts calm skin, minimize signs of ageing and reduce the sebum in skin which causes oily patches, clogged pores and breakouts. Extracts of carrot seed brighten the complexion, cut down inflammation and quicken cell renewal to give you revived, supple and more youthfully elastic skin.</p>
       <p>Working in tandem, these purifying, protecting and nourishing ingredients rejuvenate, hydrate and firm up skin to give it that sought-after soft, fresh glow.</p>
       <p>Dermatologically tested, Activ Beauté Pure Radiance Anti-Pollution Toning Face Mist can be sprayed 2-3 times during the day. Its freshening and restorative formula suits all skin types, has no harmful chemicals and is free of Toxins, Parabens, and Mineral Oils. </p>
    </div>
 </div>