<section class="benefits-new padding-top-bottom">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-md-5">
               <img src="{{ product.metafields.custom_fields["add_benefit_image"] }}" width="100%" alt="">
            </div>
            <div class="col-md-4">
            	<h2>benefits</h2>	
               <ul>
                 	{% for item in product.metafields.custom_fields["benefits_section_items"] %}
               			<li>{{ item["add_benefits_item"] }}</li>
                    {% endfor %}
               </ul>
            </div>
         </div>
      </div>
   </section>

<section class="benefits padding-top-bottom" style="display:none;">
      <div class="container">
      	 <div class="top-head">
      	 	<h2>benefits</h2>	
      	 </div>
         <div class="row">
           
           
           {% if product.metafields.custom_fields["left_side_benefits"] != blank %}
            <div class="col-md-4 col-6 left-div">
              {% for item in product.metafields.custom_fields["left_side_benefits"] %}
               <div class="sub-div">
                  <p>{{ item["benefit_number"] }}</p>
                  <img src="{{ item["left_benefit_image"] }}" alt="">
                  <small>{{ item["left_benefit_text"] }}</small>
               </div>
              {% endfor %}
            </div>
           {% endif %}
           
           
           {% if product.metafields.custom_fields["benefits_product_image"] != blank %}
            <div class="col-md-4 middle-div">
               <img src="{{ product.metafields.custom_fields["benefits_product_image"] }}" alt="">
            </div>
           {% endif %}
           
           {% if product.metafields.custom_fields["right_side_benefits"] != blank %}
            <div class="col-md-4 col-6 right-div">
              {% for item in product.metafields.custom_fields["right_side_benefits"] %} 
              <div class="sub-div">
                  <p>{{ item["right_side_number"] }}</p>
                  <img src="{{ item["right_side_image"] }}" alt="">
                  <small>{{ item["right_side_text"] }}</small>
               </div>
              {% endfor %}
            </div>
           {% endif %}
           
         </div>
      </div>
   </section>