<div id="top-bar" class="owl-carousel">
  <p><a href="{{section.settings.home_topbar_link}}">{{section.settings.home_topbar_text}}</a></p>
  <p class="middle"><a href="{{section.settings.home_topbar_link_one}}">{{section.settings.home_topbar_text_one}}</a></p>
  <p><a href="{{section.settings.home_topbar_text_two}}">{{section.settings.home_topbar_text_two}}</a></p>
</div>


{% schema %}
  {
    "name": "Homepage Top Bar",
	"settings": [
		{
          "id": "home_topbar_text",
          "type": "text",
       		"label": "1st TEXT"
        },
		{
          "id": "home_topbar_link",
          "type": "url",
       		"label": "1st LINK"
        },
		{
          "id": "home_topbar_text_one",
          "type": "text",
       		"label": "2nd TEXT"
        },
		{
          "id": "home_topbar_link_one",
          "type": "url",
       		"label": "2nd LINK"
        },
		{
          "id": "home_topbar_text_two",
          "type": "text",
       		"label": "3rd TEXT"
        },

          {
              "id": "home_topbar_link_two",
              "type": "url",
                   "label": "3rd LINK"
            }]
  }
{% endschema %}