<section class="blog-sections padding-top-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="text-center fw-bold">{{ article.title }}</h2>
        <p class="text-center mb-5 fw-bold"> {{ article.author }} | {{ article.created_at | date: "%a, %b %d, %y" }}  </p>
      	<img class="mb-5" src="{{ article.image.src | img_url: '500x' }}" width="100%"/>
        {{ article.content }}
       </div>
    </div> 
  </div>
</section>

