<script class="cartFlagX"></script>

<script data-cfasync="false" type="text/javascript">if (typeof Shopify === "undefined") var Shopify = {}; Shopify.cart = {{ cart | json }};</script> 
   <form method="post">
{% if cart.item_count == 0 %}
     
     <p class="text-center">Cart is empty</p>
     <p class="text-center"><a href="/account"> Kindly Log in to view your cart!</a></p>
{%else%}

<style>
  .mycart-products .info-boxes {
    margin-top: 40px;
    padding: 20px !important;
}
     </style>

      <section class="thecartheading">
         <div class="container">
            <div class="top-head text-center">
               <h3 style="margin-bottom: 30px;">My Cart</h3>
            </div>
         </div>
      </section>
      <section class="mycart-products">
         <div class="container">
            <div class="row d-flex">
               <div class="col-md-6">
                  
               {% for line_item in cart.items %}

                  <div class="row box-one">
                     <div class="col-md-5 col-5">
                        <img src="{{line_item.image | product_img_url : '1920x'}}" width="100%" />
                     </div>
                     <div class="col-md-7 col-7">
                        <h3>{{line_item.title}}</h3>
                        <h4><span class=tdf-cart-item-p-p>{{line_item.price | money}}</span></h4>
                        <div class="input-group">
                           <div class="quantity">
                        <button class="quantity-button quantity-down"> - </button>
                           <input style= "width: 56px;" type="number" class="btn btn-default" name="updates[]" value={{line_item.quantity}} min="0" pattern="0-9">
                        <button class="quantity-button quantity-up"> + </button>
                           </div>
                        </div>
                        <a class="remove product-remove" href="/cart/change?line={{forloop.index}}&quantity=0" rel="{{line_item.id}}">Remove</a>
                     </div>
                  </div>
               {% endfor %}


                  
               </div>
               <div class="col-md-6 order-summery">
<noscript class="tdfPlaceDiscounts"></noscript>
                  <div class="summery-box">
                     <h3>ORDER SUMMARY:</h3>
                     <div class="row total-box">
                        <div class="col-6">
                           <h4>Subtotal:</h4>
                        </div>
                        <div class="col-6">
                           <h4><span style="display:none" class="tdf-cart-total-flag"></span>{{cart.total_price | money}}</h4>
                        </div>
                     </div>
                     <p>SHIPPING & TAXES CALCULATED AT CHECKOUT</p>
                   <input type="submit" name="checkout" class="buy-button btn btn-main pull-right" value="Checkout">
                  {% comment %} <input type="submit" name="update" class="buy-button btn btn-transparent pull-right" id="update-btn" value="Update"> {% endcomment %}

                     
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
      {% endif %}
       </form>

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>

<!-- cart viewed new -->
<script>

    var obj = [];
    
    
    {% for line_item in cart.items %}

                        obj.push({ "Product Id":{{line_item.id}},"Product Name":"{{line_item.title}}","Line Item Price": "{{line_item.price | money_without_currency  | remove: '.' | remove: ',' | divided_by: 100  }}", "Price": "{{line_item.price | money_without_currency }}", "Image URL" :"{{line_item.image | product_img_url : '1920x'}}","Qunatity": {{line_item.quantity}}});
    {% endfor %}
                        
                        
    
    webengage.track("Cart Viewed", {
      "Total Price" : "{{cart.total_price}}",
      "Product Details": [
        obj
      ],
    });
  
</script>

<script>

    var obj = [];
    
    
    {% for line_item in cart.items %}

                        obj.push({ "Product Id":{{line_item.id}},"Product Name":"{{line_item.title}}","Line Item Price": "{{line_item.price | money_without_currency  | remove: '.' | remove: ',' | divided_by: 100  }}", "Price": "{{line_item.price | money_without_currency }}", "Image URL" :"{{line_item.image | product_img_url : '1920x'}}","Qunatity": {{line_item.quantity}}});
    {% endfor %}
                        
                        
    
    webengage.track("Cart Updated", {
      "Total Price" : "{{cart.total_price}}",
      "Product Details": [
        obj
      ],
    });
  
</script>

<script>

    var obj = [];
    
    
    {% for line_item in cart.items %}

                        obj.push({ "Product Id":{{line_item.id}},"Product Name":"{{line_item.title}}","Line Item Price": "{{line_item.price | money_without_currency  | remove: '.' | remove: ',' | divided_by: 100  }}", "Price": "{{line_item.price | money_without_currency }}", "Image URL" :"{{line_item.image | product_img_url : '1920x'}}","Qunatity": {{line_item.quantity}}});
    {% endfor %}
                        
                        
    
    webengage.track("Checkout Started", {
      "Total Price" : "{{cart.total_price}}",
      "Product Details": [
        obj
      ],
    });
  
</script>